
@media (prefers-color-scheme: dark) {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}

th {
  position: sticky;
  top: 0;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
