.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 3rem 3rem;
  background: #ffffff;
  /* align-items: center; */
  /* min-height: 100vh; */
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.table-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  padding: 1rem 0 1rem 1rem;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #e7e7e7;
}

.table-body {
  height: 6rem;
  /* text-align: center; */
}

.table-cell {
  padding-left: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.hidden {
  visibility: hidden;
}

.add {
  background: inherit;
  padding: 0.7rem;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.add:hover {
  background: #e7e7e7;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
